<section class="main-header">
  <h1>Rubitter</h1>
</section>

<div class="about">
  <div>
  <h4>アプリ名の由来</h4>
  <h6>RubyでTwitterのcloneを作ったから。(安直w)</h6><br>
  </div>
  <br>
  <div>
  <h5>この演習を通して大切だと思ったこと</h5><br>
  <h6>つまずいたら初心に帰って、テキストをしっかり見直すこと。何かが抜けてたりする。<br>
  今日はここまで実装する、と決めたら意地でもやる。ど根性ぉぉ<br>
  こまめにメモしながらアウトプット。<br>
  自分が今何をしてるのか、なんでそのコードを書いてるのか、説明しながらやる感じで。<br>
  やることをメモし、順序立ててひとつずつ潰していく。</h6>
  </div>
</div>
