<section class="main-header">
  <h1>Rubeet</h1>
</section>

<div class="new">
  <br>

  <%= render 'form' %>

  <button type="button" class="btn btn-outline-info"><%= link_to 'Back', murmurs_path %></button>
</div>
